{% load static %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Celeste Krishna</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="manifest" href="site.webmanifest">
        <link rel="apple-touch-icon" href="{% static 'icon.png' %}">
        <!-- Place favicon.ico in the root directory -->

        <link href="//fonts.googleapis.com/css?family=Libre+Baskerville:400,400i," rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        {% block other_head %}{% endblock %}


    </head>
    <body class="{{ body_class }}">

        <nav class="main clearfix">
            <ul>
                <li><a href="/">Celeste Krishna</a></li>
                <li class="menu">
                    <a href="{% url 'home:works' %}">Works</a>
                        <ul class="menu">
                            <li><a href="{% url 'preludered:index' %}">Prelude Red</a></li>
                            <li><a href="https://celestekrishna.bandcamp.com/album/ft-celeste-mixtape" target="_blank">Mixtape</a></li>
                            <li><a href="https://open.spotify.com/artist/2eR3cOK80CasFmUgfYLjar" target="_blank">Monarchs</a></li>
                        </ul>

                </li>
                <li><a href="{% url 'home:live' %}">Live</a></li>
                <li><a href="{% url 'home:connect' %}">Connect</a></li>
            </ul>
        </nav>


        {% block content %}{% endblock %}


        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="{% static 'js/plugins.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>


        {% block other_foot %}{% endblock %}

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <!--
        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        -->
    </body>
</html>
