{% extends "templates/common/main.html" %}
{% load static %}


{% block content %}
<div class="page">
    <h2>Celeste Krishna</h2>
    <p><a href="{% url 'preludered:index' %}">Prelude Red (2017)</a></p>

    <h2>Mixtape</h2>
    <p><a href="https://celestekrishna.bandcamp.com/album/ft-celeste-mixtape" target="_blank">Ft. Celeste (2012)</a></p>

    <h2>Monarchs</h2>
    <p><a href="https://open.spotify.com/album/5kZrnnhRmJqorUzwiNoae8" target="_blank">The Rise and Fall (2011)</a></p>
    <p><a href="https://open.spotify.com/album/3om2dkdDc6JLhiDlDvYw8Z" target="_blank">Those Words, Those Frames (2009)</a></p>
    <p><a href="https://open.spotify.com/album/2O1iEwgh6BmYVzNAyrgOBN" target="_blank">The Oak EP (2008)</a></p>
</div>
{% endblock content %}

