<div class="musicVideos">
    <div class="fotorama"
             data-allowfullscreen="true"
             data-nav="false"
             data-shuffle="true"
             data-width="560">
             {% for video in music_videos %}
                <a href="{{ video.href }}" data-caption="{{ video.title }}"></a>
             {% endfor %}
    </div>
</div>

<script type="text/javascript">
    $('.fotorama').fotorama().on('fotorama:loadvideo', function() {
        if(player.playlist[player.currentTrack].playing())
        {
            player.pause();
        }
    });
</script>
<style type="text/css">
    div.fotorama__caption {
        top: 12px;
        width: 100%;
        text-align: center;
        height:50px;
    }
    div.fotorama__caption__wrap {
        background:none;
        color:#ffffff;
        font-family: 'Libre Baskerville', serif;
    }
</style>
